.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: #000;
  color: #fff;
  transition: width 0.3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}
